In [190]:
import pandas as pd
import numpy as np

# Cleaning players dataframe

In [191]:
players_df = pd.read_json("tfmkt_scraper/crawled_data/players_with_bios.json")
players_df[:5]

,name,team,age,position,country,number,value,href,bio
0,Vaná Alves,Aris Limassol,33,Goalkeeper,Brazil,1,€400k,/vana-alves/profil/spieler/212198,No wiki bio found.
1,Mislav Zadro,Aris Limassol,21,Goalkeeper,Croatia,91,€250k,/mislav-zadro/profil/spieler/580418,No wiki bio found.
2,Ellinas Sofroniou,Aris Limassol,29,Goalkeeper,Cyprus,90,€100k,/ellinas-sofroniou/profil/spieler/292711,No wiki bio found.
3,Anastasios Pisiias,Aris Limassol,17,Goalkeeper,Cyprus,26,None,/anorthosis-famagusta/startseite/verein/3899/s...,No wiki bio found.
4,Connor Goldson,Aris Limassol,31,Centre-Back,England,18,€4.50m,/rangers-fc/startseite/verein/124/saison_id/2024,Connor Lambert Goldson(born 18 December 1992) ...

## Cleaning the bios

In [192]:
players_df[players_df['bio'].duplicated()]

,name,team,age,position,country,number,value,href,bio
1,Mislav Zadro,Aris Limassol,21,Goalkeeper,Croatia,91,€250k,/mislav-zadro/profil/spieler/580418,No wiki bio found.
2,Ellinas Sofroniou,Aris Limassol,29,Goalkeeper,Cyprus,90,€100k,/ellinas-sofroniou/profil/spieler/292711,No wiki bio found.
3,Anastasios Pisiias,Aris Limassol,17,Goalkeeper,Cyprus,26,None,/anorthosis-famagusta/startseite/verein/3899/s...,No wiki bio found.
5,Milosz Matysik,Aris Limassol,20,Centre-Back,Poland,17,€1.20m,/milosz-matysik/profil/spieler/751104,No wiki bio found.
7,Aboubacar Loucoubar,Aris Limassol,19,Centre-Back,Senegal,15,None,/aboubacar-loucoubar/profil/spieler/1221176,No wiki bio found.
...,...,...,...,...,...,...,...,...,...
18794,Antoni Burkiewicz,Raków Częstochowa,16,Defensive Midfield,Poland,47,None,/rakow-czestochowa-ii/startseite/verein/41149/...,No wiki bio found.
18798,Jean Carlos Silva,Raków Częstochowa,28,Left Midfield,Spain,20,€1.00m,/jean-carlos-silva/profil/spieler/282434,No wiki bio found.
18801,Ivi López,Raków Częstochowa,30,Attacking Midfield,Spain,10,€1.00m,/ivi-lopez/profil/spieler/282371,No wiki bio found.
18804,Tobiasz Mras,Raków Częstochowa,17,Attacking Midfield,Poland,77,€150k,/tobiasz-mras/profil/spieler/1143675,No wiki bio found.
18806,Patryk Makuch,Raków Częstochowa,25,Centre-Forward,Poland,9,€600k,/cracovia/startseite/verein/5689/saison_id/2024,No wiki bio found.

In [193]:
bios_counts = players_df['bio'].value_counts()
weird_bios_idxs = bios_counts[bios_counts > 1].index

weird_bios = players_df[players_df['bio'].isin(weird_bios_idxs)]
weird_bios['bio'].value_counts()

bio
No wiki bio found.                                                                                                                                                                                                                                                                                 6674
This is an accepted version of this page                                                                                                                                                                                                                                                              8
Error fetching bio: HTTPSConnectionPool(host='en.wikipedia.org', port=443): Read timed out. (read timeout=2)                                                                                                                                                                                          8
Juninho, Portuguese for "little Junior", is a common nickname in Brazil for those whose full name includesJúnior. It is often combined with an epithet, sometimes a demonym (a word derived from their place of origin). The followingfootballplayers are known by some derivation of the name:       4
Sergey Volkovmay refer to:                                                                                                                                                                                                                                                                            4
                                                                                                                                                                                                                                                                                                   ...
Arthuris a masculine given name of uncertain etymology. Its popularity derives from it being the name of the legendary heroKing Arthur.                                                                                                                                                               2
Lirim Kastratimay refer to:                                                                                                                                                                                                                                                                           2
Youth events                                                                                                                                                                                                                                                                                          2
Dominik Kocsis(born 1 August 2002) is a Hungarian professionalfootballerwho plays as awingerforNemzeti Bajnokság IclubDebrecen.                                                                                                                                                                       2
Igor Ivanović(Serbian Cyrillic: Игор Ивановић; born 9 September 1990) is aMontenegrinprofessionalfootballerwho plays as anattacking midfielderforBudućnost.                                                                                                                                           2
Name: count, Length: 139, dtype: int64

In [194]:
bios_erros = ["No wiki bio found.", 
              "This is an accepted version of this page", 
              "Error fetching bio: HTTPSConnectionPool(host='en.wikipedia.org', port=443): Read timed out. (read timeout=2)",
              "This is an accepted version of this page"]
# Remove the bios with the above errors encountered a few times
players_df['bio'].mask(players_df['bio'].isin(['No wiki bio found.']), None, inplace=True)

# Encountered a lot of time too
players_df['bio'] = players_df['bio'].apply(lambda x: None if 'may refer to' in str(x) else x)

/tmp/ipykernel_3434/440450349.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df['bio'].mask(players_df['bio'].isin(['No wiki bio found.']), None, inplace=True)

In [195]:
players_df[players_df[['name','bio']].duplicated() & players_df['bio'].notna()].sort_values(by="name")[:10]

,name,team,age,position,country,number,value,href,bio
14293,Abdoulaye Kanté,Austria Vienna,19,Centre-Forward,Cote d'Ivoire,47,€200k,/racing-club-abidjan/startseite/verein/85059/s...,Abdoulaye Kanté(born 4 March 2000) is a French...
11583,Albin Krasniqi,FC Winterthur,21,Right Winger,Switzerland,17,€800k,/fc-st-gallen-1879-u21/startseite/verein/9178/...,Albin Krasniqi(born 6 April 2003) is a Swiss p...
16130,Aldair,Levski Sofia,25,Right-Back,Portugal,21,€700k,/sd-ponferradina/startseite/verein/4032/saison...,Aldair Nascimento dos Santos(Brazilian Portugu...
15916,Alexandru Stoian,FCV Farul Constanta,16,Centre-Forward,Romania,90,€100k,/fcv-farul-u18/startseite/verein/54047/saison_...,Alexandru Stoian(born 15 December 2007) is aRo...
341,Andreas Christofi,Enosis Neon Paralimniou,26,Centre-Back,Cyprus,3,€125k,/andreas-christofi/profil/spieler/936643,Andros Christofi(born 21 April 1969) is a reti...
2973,André,FC Samtredia,21,Central Midfield,Brazil,39,€50k,/se-itapirense-u20/startseite/verein/96911/sai...,André— sometimes transliterated asAndre— is th...
5618,André,Wolverhampton Wanderers,23,Defensive Midfield,Brazil,7,€25.00m,/fluminense-football-club/startseite/verein/24...,André— sometimes transliterated asAndre— is th...
10380,André Gomes,LOSC Lille,31,Central Midfield,Portugal,26,€10.00m,/without-club/startseite/verein/515/saison_id/...,André Filipe Tavares GomesComM(Portuguese pron...
7400,Andy Mitchell,Dungannon Swifts FC,30,Centre-Forward,Northern Ireland,26,€75k,/andy-mitchell/profil/spieler/213955,Andrew Mitchellis a British Conservative polit...
18249,Arthur,Bayer 04 Leverkusen,21,Right-Back,Brazil,13,€5.00m,/arthur/profil/spieler/977464,Arthuris a masculine given name of uncertain e...

In [196]:
# Example of problem : 

players_df.where(players_df['name'] == 'Igor Ivanovic').dropna()

,name,team,age,position,country,number,value,href,bio
17707,Igor Ivanovic,Tobol Kostanay,27,Right Winger,Serbia,10,€500k,/igor-ivanovic/profil/spieler/327611,Igor Ivanović(Serbian Cyrillic: Игор Ивановић;...
18608,Igor Ivanovic,Buducnost Podgorica,34,Right Winger,Montenegro,7,€275k,/igor-ivanovic/profil/spieler/192417,Igor Ivanović(Serbian Cyrillic: Игор Ивановић;...

In [197]:
# Remove the bios of the players for which we have exactly twice the same bio
duplicated_bios_mask = players_df['bio'].duplicated(keep=False) & players_df['bio'].notna()
players_df.loc[duplicated_bios_mask, 'bio'] = None

In [198]:
players_df[players_df['bio'].duplicated() & players_df['bio'].notna()].sort_values(by="name")[:10]

Empty DataFrame
Columns: [name, team, age, position, country, number, value, href, bio]
Index: []

## Convert values (string) into numbers

In [256]:
def convert_value_to_int(value_string) :
    if value_string is None : 
        return None
    else :
        value = value_string[1:]
        if value.endswith("m") :
            value_int = float(value[:-1]) * 1e6
        elif value.endswith("k") :
            value_int = float(value[:-1]) * 1e3
        elif value.endswith("bn") :
            value_int = float(value[:-2]) * 1e9
        
    return int(value_int)

In [200]:
for i, value in enumerate(players_df['value']) :
    value_int = convert_value_to_int(value)
    assert type(value_int) == int or value_int == None, print(value_int)

    # Show what's the output
    if i < 8 :
        print(f"original : {value}, final : {value_int}")

original : €400k, final : 400000
original : €250k, final : 250000
original : €100k, final : 100000
original : None, final : None
original : €4.50m, final : 4500000
original : €1.20m, final : 1200000
original : €500k, final : 500000
original : None, final : None

In [201]:
players_df['value'] = players_df['value'].apply(lambda x : convert_value_to_int(x))

## Cleaning age, number, country and position

In [202]:
print(players_df['country'].isna().value_counts())
print(players_df['age'].isna().value_counts())

country
False    18810
Name: count, dtype: int64
age
False    18810
Name: count, dtype: int64

In [221]:
# Identify rows where the 'number' column is not an integer
non_int_mask = pd.to_numeric(players_df['number'], errors='coerce').isna()

players_df_2= players_df.loc[non_int_mask, 'number']
players_df_2.value_counts()

number
-    616
Name: count, dtype: int64

In [229]:
players_df['number'] = players_df['number'].apply(lambda x : None if x == '-' else x)

In [232]:
# Identify rows where the 'age' column is not an integer
non_int_mask = pd.to_numeric(players_df['age'], errors='coerce').isna()

players_df_2= players_df.loc[non_int_mask, 'age']
players_df_2.value_counts()

age
-    45
Name: count, dtype: int64

In [233]:
players_df['age'] = players_df['age'].apply(lambda x : None if x == '-' else x)

In [238]:
print(players_df['country'].value_counts())

country
France           679
Brazil           640
Spain            633
Serbia           604
Ukraine          469
                ...
Barbados           1
Liechtenstein      1
Cuba               1
Malawi             1
China              1
Name: count, Length: 159, dtype: int64

In [242]:
# Identify rows where the 'country' column is not a string
non_string_mask = ~players_df['country'].apply(lambda x: isinstance(x, str))

players_df_2= players_df.loc[non_string_mask, 'country']
players_df_2

Series([], Name: country, dtype: object)

In [244]:
# Identify rows where the 'position' column is not a string
non_string_mask = ~players_df['position'].apply(lambda x: isinstance(x, str))

players_df_2= players_df.loc[non_string_mask, 'position']
players_df_2

Series([], Name: position, dtype: object)

## Converting to csv

In [247]:
players_df.to_csv("tfmkt_scraper/crawled_data/players.csv", na_rep='NaN', index=False)

# Cleaning clubs dataframe

In [292]:
clubs_df = pd.read_json("tfmkt_scraper/crawled_data/clubs.json")
clubs_df[:5]

,league,name,href,value
0,CyprusLeague,Pafos FC,https://www.transfermarkt.com/pafos-fc/kader/v...,€24.15m
1,CyprusLeague,Aris Limassol,https://www.transfermarkt.com/aris-limassol/ka...,€20.00m
2,CyprusLeague,Omonia Nicosia,https://www.transfermarkt.com/omonia-nicosia/k...,€19.23m
3,CyprusLeague,APOEL Nicosia,https://www.transfermarkt.com/apoel-nicosia/ka...,€14.85m
4,CyprusLeague,AEK Larnaca,https://www.transfermarkt.com/aek-larnaca/kade...,€13.98m

In [293]:
for i, value in enumerate(clubs_df['value']) :
    value_int = convert_value_to_int(value)
    assert type(value_int) == int or value_int == None, print(value_int)

    # Show what's the output
    if i < 8 :
        print(f"original : {value}, final : {value_int}")

original : €24.15m, final : 24150000
original : €20.00m, final : 20000000
original : €19.23m, final : 19230000
original : €14.85m, final : 14850000
original : €13.98m, final : 13980000
original : €12.43m, final : 12430000
original : €11.25m, final : 11250000
original : €9.43m, final : 9430000

In [294]:
clubs_df['value'] = clubs_df['value'].apply(lambda x : convert_value_to_int(x))

In [295]:
clubs_df['league'].value_counts() # No problem

league
PremierLiga                       45
Bundesliga                        30
SuperLiga                         24
SerieA                            20
PremierLeague                     20
LaLiga                            20
SüperLig                          19
Eredivisie                        18
PKOBPEkstraklasa                  18
LigaPortugal                      18
Ligue1                            18
JupilerProLeague                  16
VysheyshayaLiga                   16
BGLLigue                          16
Eliteserien                       16
Allsvenskan                       16
ChanceLiga                        16
SuperligaSrbije                   16
efbetLiga                         16
CyprusLeague                      14
Ligatha'Al                        14
SuperLeague1                      14
PremierLeagueOpeningRound         12
Bestadeild                        12
NikeLiga                          12
PremijerLigaBosneiHercegovine     12
PrvaMakedonskaFudbalskaLiga       12
Superliga                         12
Premiership                       12
Veikkausliiga                     12
NemzetiBajnokság                  12
ScottishPremiership               12
SuperLeague                       12
Bardzraguynkhumb                  11
PremyerLiqa                       10
KategoriaSuperiore                10
PrvaLiga                          10
Virsliga                          10
LeagueofIrelandPremierDivision    10
PrimeraDivisió                    10
SuperligaeKosovës                 10
ErovnuliLiga                      10
ALyga                             10
SuperSportHNL                     10
PremiumLiiga                      10
Meridianbet1.CFL                  10
Name: count, dtype: int64

In [296]:
clubs_df.to_csv("tfmkt_scraper/crawled_data/clubs.csv", na_rep='NaN', index=False)

# Cleaning competitions

In [276]:
competitions = pd.read_json("tfmkt_scraper/crawled_data/competitions.json")
competitions[:5]

,competition_type,competition_name,country,number_of_clubs,number_of_players,average_age,foreigners_percentage,total_market_value,competition_url
0,European leagues & cups,Cyprus League,Cyprus,14,429,26.5,62.9,154.43,https://www.transfermarkt.com/cyprus-league/st...
1,European leagues & cups,Ligat ha'Al,Israel,14,389,25.8,24.4,131.52,https://www.transfermarkt.com/ligat-haal/start...
2,European leagues & cups,Nike Liga,Slovakia,12,316,25.5,40.5,98.88,https://www.transfermarkt.com/nike-liga/starts...
3,European leagues & cups,Premyer Liqa,Azerbaijan,10,260,26.6,44.6,90.08,https://www.transfermarkt.com/premyer-liqa/sta...
4,European leagues & cups,Premier Liga,Kazakhstan,13,321,27.7,47.0,80.92,https://www.transfermarkt.com/premier-liga/sta...

In [ ]:
competitions[competitions['country'] == 'England'] # 11.75 bn

,competition_type,competition_name,country,number_of_clubs,number_of_players,average_age,foreigners_percentage,total_market_value,competition_url
25,European leagues & cups,Premier League,England,20,533,26.5,66.4,11750.0,https://www.transfermarkt.com/premier-league/s...

In [280]:
competitions['total_market_value'] = competitions['total_market_value'].apply(lambda x : int(x)*1e6)

In [285]:
competitions[-5:]

,competition_type,competition_name,country,number_of_clubs,number_of_players,average_age,foreigners_percentage,total_market_value,competition_url
45,European leagues & cups,Ekstraklasa,Poland,18,525,25.4,40.2,245000000.0,https://www.transfermarkt.com/pko-bp-ekstrakla...
46,European leagues & cups,SuperSport HNL,Croatia,10,313,24.9,35.1,233000000.0,https://www.transfermarkt.com/supersport-hnl/s...
47,European leagues & cups,SuperLiga,Romania,16,473,26.5,39.7,232000000.0,https://www.transfermarkt.com/superliga/starts...
48,European leagues & cups,efbet Liga,Bulgaria,16,401,26.0,49.1,183000000.0,https://www.transfermarkt.com/efbet-liga/start...
49,European leagues & cups,NB I.,Hungary,12,338,26.1,39.3,157000000.0,https://www.transfermarkt.com/nemzeti-bajnoksa...

In [288]:
print(competitions['average_age'].dtypes)
print(competitions['number_of_players'].dtypes)
print(competitions['foreigners_percentage'].dtypes)
print(competitions['number_of_clubs'].dtypes)

float64
int64
float64
int64

In [289]:
print(competitions['country'])

0                 Cyprus
1                 Israel
2               Slovakia
3             Azerbaijan
4             Kazakhstan
5     Bosnia-Herzegovina
6               Slovenia
7                Belarus
8              Lithuania
9                 Latvia
10               Finland
11               Armenia
12               Albania
13       North Macedonia
14                 Malta
15               Georgia
16                Kosovo
17               Andorra
18               Ireland
19               Iceland
20               Moldova
21               Estonia
22            Luxembourg
23      Northern Ireland
24            Montenegro
25               England
26                 Spain
27                 Italy
28               Germany
29                France
30              Portugal
31           Netherlands
32                Turkey
33               Belgium
34                Russia
35                Greece
36               Austria
37               Ukraine
38           Switzerland
39        Czech Republic
40              Scotland
41               Denmark
42                Sweden
43                Serbia
44                Norway
45                Poland
46               Croatia
47               Romania
48              Bulgaria
49               Hungary
Name: country, dtype: object

In [302]:
competitions.to_csv("tfmkt_scraper/crawled_data/competitions.csv", na_rep='NaN', index=False)#, columns=list(competitions.columns))